body {
    align-items: center;
    margin: 0;
    padding: 0;
}

section {
    margin: 0 auto;
    /* border: 1px solid black;  */
    box-sizing: border-box;
}

a:link{
    color:rgba(0, 0, 0, 1.0);
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 205, 251, 1);
}
      
a:visited {
    color:rgb(0, 0, 0, 1.0);
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 205, 251, 1);
}
#section1 {
    position: relative; 
    overflow: hidden;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#section1 img {
    position: absolute; 
    top: 3vh; 
    /* left: 0;  */
    max-width: 32vw; 
    max-height: auto; 
}

#section1 h1 {
    font-family: "proxima-nova-extra-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    margin-top: 30vh;
    z-index: 1; 
}

#section3 {
    font-family: "proxima-nova-extra-condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.25;
    background-color: rgb(255, 255, 255);
    /* padding-left: 2vw;
    padding-right: 2vw; */
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    #section3 {
        margin-left: 30.5vw;
        margin-right: 30.5vw;
    }
}

#section3 p {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
    min-width: 80%;
    text-align: left;
    font-size: 20px;
} 

/* #section3 img {
    max-height: 6vh;
    display: inline-block;
    padding: 1vw 1vh;
} */

.insta-box {
    max-width: auto;
    max-height: 8vh;
    /* border: solid black 2px; */
    margin: 1vh 1vw;
    display: flex; /* Add flex display */
    align-items: center; /* Center vertically */
}

.insta-box img {
    max-height: 6vh;
    padding: 1vh 1vw;
}

.insta-box-info {
    font-family: "proxima-nova-extra-condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    font-size: 22px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0vw;
    padding-right: 1vw;
    margin: 0;
}
